#breadcrumbs {
	overflow: hidden;
	padding: 3px 10px 3px 20px;
	background-image: url(../images/breadcrumbs.png);
	background-repeat: repeat-x;
	border: none;
	background-color: #fff !important;
}

#poweredBy img {
  margin: 5px 0 5px 17px;
}

#poweredByOhloh img {
  display:block;
  margin: 5px 0 5px 12px;
  border: 1px solid black;
  width: 100px;
  height: 16px;
}