<?xml version="1.0" encoding="utf-8"?>
<jnlp
  spec="1.0+"
  codebase="http://localhost:8080/bytecode-webstart/"
  href="$outputFile">
  <information>
    <title>MicroEmulator-bytecode</title>
    <vendor>MicroEmulator Team</vendor>
    <homepage href="http://www.microemu.org/"/>
    <description>MicroEmulator bytecode test</description>
    <description kind="short">MicroEmulator</description>
    <icon href="images/swingset2.jpg"/>
    <icon kind="splash" href="images/splash.gif"/>
    <offline-allowed/>
  </information>

  <security>
      <all-permissions/>
  </security>
  <update check="always"/>

  <resources>
    <j2se version="1.4+"/>
    $dependencies
  </resources>

  <application-desc main-class="$mainClass">
  </application-desc>

</jnlp>